ENV=DEV

# Database
POSTGRES_PASSWORD=change_me_postgres_password
DB_HOST=db

# Server
PORT=8080
JWT_SECRET_KEY=change_me_jwt_secret_key

# OAuth / Yandex
YANDEX_CLIENT_SECRET=change_me_yandex_client_secret
YANDEX_DIALOGS_SKILL_ID=change_me_skill_id
YANDEX_DIALOGS_OAUTH_TOKEN=change_me_dialogs_oauth_token

# SMTP
SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USERNAME=change_me_smtp_username
SMTP_PASSWORD=change_me_smtp_password
