ENV=DEV
SYNC_SERVICE_URL=http://sync_service:8080
ZIGBEE_BROKER=mqtt
ZIGBEE_PORT=1883

REMOTE_SERVER_URL=https://api.smart-home-pnz.ru
LOGO_CONTROLLER_IP=192.168.1.108

VOSK_URL=ws://vosk-server:2700
RHVOICE_URL=http://rhvoice-server:2800
AUDIO_ID=0

ZIGBEE_ADAPTER=ezsp
ZIGBEE_ADAPTER_PORT=/dev/ttyUSB0

HIKVISION_IP=192.168.1.88
HIKVISION_USER=admin
HIKVISION_PASSWORD=change-me
